@import "tailwindcss";

html{

scroll-behavior:smooth;

}

body{

margin:0;

background:#030712;

color:white;

font-family:Inter,sans-serif;

overflow-x:hidden;

}

*{

box-sizing:border-box;

}

img{

display:block;

max-width:100%;

}

button{

cursor:pointer;

}

::selection{

background:#06b6d4;

color:white;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-track{

background:#020617;

}

::-webkit-scrollbar-thumb{

background:#155e75;

border-radius:999px;

}

::-webkit-scrollbar-thumb:hover{

background:#06b6d4;

}